<h2 mat-dialog-title>Modify Assignment</h2>

<form [formGroup]="modify_assignment_form" (ngSubmit)="onEventModify()">
  <mat-dialog-content>

    <!-- ================= Title ================= -->
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title">
    </mat-form-field>

    <!-- ================= Content ================= -->
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Content</mat-label>
      <textarea matInput formControlName="content"></textarea>
    </mat-form-field>

    <!-- ================= Priority ================= -->
    <div class="flex-container container-space-between">
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priority">
          <mat-option value="High">High</mat-option>
          <mat-option value="Medium">Medium</mat-option>
          <mat-option value="Low">Low</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- ================= Status ================= -->
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="Pending">Pending</mat-option>
          <mat-option value="In Progress">In Progress</mat-option>
          <mat-option value="Done">Done</mat-option>
          <mat-option value="Canceled">Canceled</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- ================= Date ================= -->
    <div class="flex-container container-space-between">
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>{{assignment.date}}</mat-label>
        <input matInput [matDatepicker]="startPicker" disabled>
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>

      <!-- ================= Deadline Date ================= -->
      <mat-form-field class="half-width" appearance="outline">
        <input matInput [matDatepicker]="deadlinePicker" placeholder="Deadline date" formControlName="deadline">
        <mat-datepicker-toggle matSuffix [for]="deadlinePicker"></mat-datepicker-toggle>
        <mat-datepicker #deadlinePicker></mat-datepicker>
      </mat-form-field>
    </div>

    <!-- ================= Author ================= -->
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Author</mat-label>
      <mat-select [(value)]="assignment.author" disabled>
        <mat-option value="{{assignment.author}}" >{{assignment.author}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button color="warn" (click)="onEventDelete()">Delete</button>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button cdkFocusInitial type="submit">Save</button>
  </mat-dialog-actions>
</form>
