
<div class="flex-container center-container fadein">
  <mat-card>
    <form [formGroup]="login_form" (ngSubmit)="onLoginEvent()">

      <!-- ================= Username ================= -->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" >
        <mat-error *ngIf="username?.invalid">{{getUsernameErrorMessage()}}</mat-error>
      </mat-form-field>

      <!-- ================= Password ================= -->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" >
        <mat-error *ngIf="password?.invalid">{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>

      <button mat-raised-button type="submit" color="primary" class="full-width">Login</button>

      <p>Don't have an account? <app-register></app-register></p>

    </form>
  </mat-card>
</div>
