<h2 mat-dialog-title>Registration</h2>

<form [formGroup]="register_form" (ngSubmit)="onRegisterEvent()">

  <mat-dialog-content>

    <div class="flex-container container-space-between">

      <!-- ================= First Name ================= -->
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput type="text" formControlName="firstname">
        <mat-error *ngIf="firstname?.invalid">{{getFirstnameErrorMessage()}}</mat-error>
      </mat-form-field>

      <!-- ================= Last Name ================= -->
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" formControlName="lastname">
      </mat-form-field>
    </div>

    <!-- ================= Username ================= -->
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="username">
      <mat-error *ngIf="username?.invalid">{{getUsernameErrorMessage()}}</mat-error>
    </mat-form-field>

    <!-- ================= Password ================= -->
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="password?.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" cdkFocusInitial>Register</button>
  </mat-dialog-actions>

</form>
