<div class="mat-elevation-z8 auto-overflow">
  <table mat-table [dataSource]="getDataSource()" multiTemplateDataRows matSort>

    <!-- ================= Columns ================= -->
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by {{column}}"> {{column === 'modify' ? '' : column}} </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="column !== 'modify' else ModifyColumn">
          {{getBasedOnColumnAndElement(element, column)}}
        </ng-container>
        <ng-template #ModifyColumn>
          <button mat-flat-button (click)="openModifyDialog(element)">Modify</button>
        </ng-template>
      </td>
    </ng-container>

    <!-- ================= Expanded Content Column ================= -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="element-content">
            {{element.content}}
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="element-row"
        [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

  </table>
</div>
