table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-content {
  padding: 16px;
}

.mat-column-title, .mat-column-priority, .mat-column-status, .mat-column-date, .mat-column-deadline, .mat-column-author, .mat-column-modify {
  width: 32px;
  border-right: 1px solid black;
  padding-right: 24px;
  padding-left: 24px;
  text-align: center;
}
