<h2 mat-dialog-title>Add Assignment</h2>

<form [formGroup]="add_assignment_form" (ngSubmit)="onEventAdd()">
  <mat-dialog-content>

    <!-- ================= Title ================= -->
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title">
    </mat-form-field>

    <!-- ================= Content ================= -->
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Content</mat-label>
      <textarea matInput formControlName="content"></textarea>
    </mat-form-field>

    <!-- ================= Priority ================= -->
    <div class="flex-container container-space-between">
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priority">
          <mat-option value="High">High</mat-option>
          <mat-option value="Medium">Medium</mat-option>
          <mat-option value="Low">Low</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- ================= Status ================= -->
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select value="pending" disabled>
          <mat-option value="pending">Pending</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- ================= Current Date ================= -->
    <div class="flex-container container-space-between">
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>{{getCurrentDate()}}</mat-label>
        <input matInput [matDatepicker]="startPicker" disabled>
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>

      <!-- ================= Deadline Date ================= -->
      <mat-form-field class="half-width" appearance="outline">
        <input matInput [matDatepicker]="deadlinePicker" placeholder="Deadline date" formControlName="deadline">
        <mat-datepicker-toggle matSuffix [for]="deadlinePicker"></mat-datepicker-toggle>
        <mat-datepicker #deadlinePicker></mat-datepicker>
      </mat-form-field>
    </div>

    <!-- ================= Author ================= -->
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Author</mat-label>
      <mat-select formControlName="author">
        <mat-option *ngFor="let user of getUsernames()" value="{{user}}">{{user}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button cdkFocusInitial type="submit">Add</button>
  </mat-dialog-actions>
</form>
