/* You can add global styles to this file, and also import other style files */

$mobile-pixels: 600px;

// ---------------------------------------------------------

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background-image: url("assets/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

// ---------------------------------------------------------

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.center-container {
  min-width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}

.container-space-between {
  justify-content: space-between;
}

// ---------------------------------------------------------

.auto-overflow {
  overflow: auto;
}

// ---------------------------------------------------------

.full-width {
  width: 100%;
}

.half-width {
  width: 49%;
}

@media (max-width: $mobile-pixels) {
  .half-width {
    width: 100%;
  }
}
