<mat-toolbar class="flex-container full-width container-space-between" color="primary">

  <span *ngIf="(usersService.user$ | async) as user; else Logout ">
    Welcome {{user.firstname}} {{user.lastname}} to Home Page!
  </span>

  <ng-template #Logout>
    {{onLogoutEvent()}}
  </ng-template>

  <div class="container-item">
    <button mat-raised-button color="warn" (click)="onLogoutEvent()">Logout</button>
  </div>

</mat-toolbar>

<app-add-assignment></app-add-assignment>

<app-assignment-table></app-assignment-table>
