.container-item button {
  margin-right: 7px;
}

.checkbox-margin {
  margin: 0 10px;
}

// ---------------------------------------------------------

@media (max-width: 600px) {
  mat-toolbar {
    height: 13%;
    display: grid;
  }
}

